/* Intro */
#home-intro-wrapper {
  font-style: italic;
  padding-bottom: 40px;
}

/* Headers */
#home-about-header-wrapper { text-align: center; padding-bottom: 40px }
#home-about-header-text {
  background: #fff;
  padding:0 20px;
  font-weight: 500;
  color: #777;
}
#home-about-header {
   width: 100%;
   text-align: center;
   border-bottom: 1px solid #777;
   line-height: 0.1em;
   margin: 20px 0 20px;
}

/* about */
#home-about-grid { padding-bottom: 40px }

/* divider */
#divider {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #777;
  line-height: 0.1em;
}

/* Main Content */
#home-main-content { text-align: center; }
#home-main-content-grid { padding-top: 40px }

#home-content-services,
#home-content-contactme,
#home-content-work
{padding-bottom:40px;}
